<!--
Prova che mostra l'utilizzo di if e la creazione dell'oggetto solo nel momento in cui occorre la visualizzazione
all'interno dell'interfaccia grafica.
-->
<!doctype html>
<html>
<head>
	<title>Hello Angular</title>
</head>
<body ng-app="myApp">
    <h1>Hello Angular</h1>
	<div ng-controller="userController">
		<p>Insert your name: <input type="text" ng-model="utente.nome"></p>
		<p>Insert your surname: <input type="text" ng-model="utente.cognome"></p>
		<p>Insert age: <input type="number" ng-model="utente.eta"></p>
		<p>{{saluta()}}</p> 
		<button ng-click="testaValore(utente.eta)">Verifica eta</button>
		
		<div ng-switch="val">
			<span ng-switch-when="0" style="color:red">Non puoi votare</span>
			<span ng-switch-when="1" style="color:green">Puoi votare ma non per il senato</span>
			<span ng-switch-when="2" style="color:blue">Puoi votare per tutto</span>
			<span ng-switch-default style="color:black">Valore ancora da inserire</span>
		</div>
	</div>	
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript"> 
		angular.module("myApp", []) 
			.controller("userController",   
				function($scope) {		
					$scope.utente = { nome: "", cognome: "", eta:""};
					$scope.val=-1;
					$scope.saluta = function() { 
						return "Buongiorno " +   
							   $scope.utente.nome + " " + 
							   $scope.utente.cognome + "!"
					}; 
					$scope.testaValore = function(eta) {
						alert("Il valore eta passato in questa funzione :"+eta);
						if(eta>=18 && eta<25){
							$scope.val = 1;
						}else
							if(eta>0&&eta<18)
								$scope.val = 0;
							else
								$scope.val = 2;
						alert("testValore: Il valore di val è: "+$scope.val);
					};
				}); 
	</script> 
</body>
</html>