<!--
Prova che mostra l'utilizzo di classi nello sviluppo dell'interfaccia.
Sono presenti due esempi differenti, il primo che permette l'inserimento dell'età in base al valore modifica il colore
della stampa, età tra 0-17 rosso, tra 18-24 verde, sopra i 25 blu.
Realizzato con l'utilizzo di sole classi.
Il secondo esempio utilizza i css e in base alla scritta immessa dall'utente permette di effettuare varie modifiche al
paragrafo su cui vengono applicate.
-->
<!doctype html>
<html>
<head>
	<title>Hello Angular</title>
</head>
<body ng-app="myApp">
    <h1>Hello Angular</h1>
	<p>Insert your years old: <input type="number" ng-model="years"></p>
	<p ng-class="{'rosso': years < 18, 'verde': years >= 18 && years < 25, 'blu': years >= 25}">
		Posso votare?
	</p>
	<style type="text/css">
		.rosso {color: red}
		.verde {color: green}
		.blu {color: blue}
		.bianco {color: white}
		.corsivo {font-style: italic}
		.grassetto {font-weight: bold}
		.aumenta {font-size: x-large} 
	</style>
	<p>Colore: <input type="text" ng-model="colore"></p>
	<p>Stile1: <input type="text" ng-model="stile"></p>
	<p ng-class="[colore, stile]">È stato scelto il colore {{colore}} e lo stile {{stile}}</p>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript"> 
		angular.module("myApp", []) ; 
	</script> 
</body>
</html>

